* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.logo-icon {
  background-color: grey;
  background-image: url("../img/anndxrzky.png");
  background-size: cover;
  background-position: center;

  transition: transform 0.3s;
}
.logo-icon:hover {
  transform: scale(1.1);
}

.modern-photo-frame {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25),
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.5);

  transition: transform 0.5s ease-in-out;
}

.message-card {
  position: absolute;
  top: 65px;
  left: 15px;
  right: 15px;

  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  font-size: 0.95rem;
  line-height: 1.4;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.message-card-timestamp {
  font-weight: bold;
  color: #444;

  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eeeeee;
  display: block;
  font-size: 1rem;
  line-height: 1.3;
  white-space: pre-wrap;
}

.message-card p {
  margin: 6px 0;
  color: #333;

  display: flex;
  font-weight: 500;
}

.message-card p strong {
  font-weight: 700;
  min-width: 120px;
  display: inline-block;
  color: #1f2937;
}
